.person {
    background-color: rgba(00, 00, 99, 0.5)
}
.round-corner-right {
    border-radius: 0px 0px 40px 40px !important;
    background-color: #A2EBE8 !important;
}
.round-corner-left {
    border-radius: 40px 0px 0px 40px !important;
}
.bttn-round-corner {
    border-radius: 14px !important;
}
.image-container {
    margin: 20px;
}
/* .form-control:hover {
    background-color: #c3e6e5;
} */

.colr:hover {
    background-color: #c3e6e5;
}
.well2 {
    background: url('../images/ka.jpg') 0% 20%;
    border-radius: 0px 0px 40px 40px;
}
.well {
    opacity: 0.95;
}
