.round-corner-right {
    border-radius: 0px 0px 40px 40px !important;
}
.round-corner-left {
    border-radius: 40px 0px 0px 40px !important;
}
.bttn-round-corner {
    border-radius: 14px !important;
}
.image-container {
    margin: 20px;
}
/* .form-control:hover {
    background-color: #c3e6e5;
} */

.colr:hover {
    background-color: #c3e6e5;
}
.well2 {
    background: url('../images/ka.jpg') 30% 20%;
    border-radius: 0px 0px 40px 40px;
}
.well {
    background-color: rgba(115, 207, 229, 0.89) !important;
}
.error-in-img {
    background-color: #a94442!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.picture {
    max-width: 70% !important;
    max-height: 230px;
    cursor: pointer;
}
#file {
    visibility: hidden;
    width: 1px;
    height: 1px;
}
